<ng-container *ngIf="todoID > 0; else addRef">
    <a [routerLink]="['../../../list']" routerLinkActive="router-link-active">GO TO LIST FROM EDIT</a>
</ng-container>
<ng-template #addRef>
    <a [routerLink]="['../../list']" routerLinkActive="router-link-active">GO TO LIST FROM ADD</a>
</ng-template>

<br>

<div>
    TODO {{ todoID > 0 ? 'EDIT' : 'ADD' }}
</div>
<br>

<form [formGroup]="todoForm" (ngSubmit)="addTodo()">
    <label for="id">ID</label>
    <input type="text" name="" id="id" formControlName="id">
    <ng-container *ngFor="let validation of validationList.id">
        <div class="validation-message" *ngIf="validationTodo(validation.type,'id')">
            {{validation.message}}
        </div>
    </ng-container>
    <br>
    <label for="title">Title</label>
    <input type="text" name="" id="title" formControlName="title">
    <ng-container *ngFor="let validation of validationList.title">
        <div class="validation-message" *ngIf="validationTodo(validation.type,'title')">
            {{validation.message}}
        </div>
    </ng-container>
    <br>
    <label for="status">Status</label>
    <input type="checkbox" name="" id="status" formControlName="status">
    <ng-container *ngFor="let validation of validationList.status">
        <div class="validation-message" *ngIf="validationTodo(validation.type,'status')">
            {{validation.message}}
        </div>
    </ng-container>
    <br> <br>
    <button type="submit">SAVE</button>
    <button type="button" (click)="resetForm()">Reset</button>
    <button type="button" (click)="cancelForm()">CANCEL</button>
</form>