<div class="login-container">
  <div class="row custom-row-height">
    <div class="col-md-12 custom-login-section">
      <div class="login-heading">
        Brain & Wits
      </div>
      <div class="row">
        <div class="col-md-3 mx-auto custom-login-box">
          <div class="custom-position-alert">
            <div class="row alert alert-danger custom-user-not-present" role="alert" *ngIf="resetPasswordError"
              [@fadeInOut]>
              {{ resetPasswordError }}
            </div>
            <div class="row custom-login-account">
              SET NEW PASSWORD
            </div>
            <form [formGroup]="setPasswordForm" (ngSubmit)="onSetPassword()"
              [ngClass]="{ 'custom-disabled-form': setFormDisabled === true }">
              <div formGroupName="passwordMatch">
                <div class="form-group custom-password-email">
                  <label for="newPassword" class="custom-email-id">Set New Password</label>
                  <input type="password" id="newPassword" class="form-control custom-login-input"
                    formControlName="newPassword" placeholder="Password" />
                  <p *ngIf="
                      setPasswordForm.get('passwordMatch.newPassword')
                        .touched &&
                      setPasswordForm
                        .get('passwordMatch.newPassword')
                        .hasError('required')
                    " class="validation-msg">
                    New password is required.
                  </p>
                </div>
                <div class="form-group custom-setpassword-margin">
                  <label for="confirmPassword" class="custom-password-id">Re-Confirm Password</label>
                  <input type="password" id="confirmPassword" class="form-control custom-login-input"
                    formControlName="confirmPassword" placeholder="Password" />
                  <p *ngIf="
                      setPasswordForm.get('passwordMatch.confirmPassword')
                        .touched &&
                      setPasswordForm
                        .get('passwordMatch.confirmPassword')
                        .hasError('required')
                    " class="validation-msg">
                    Confirm password is required.
                  </p>
                  <p *ngIf="
                      setPasswordForm
                        .get('passwordMatch')
                        .hasError('passwordNotMatched')
                    " class="validation-msg">
                    Password does not matched.
                  </p>
                </div>
              </div>
              <div class="row custom-login-btn">
                <button type="submit" class="btn btn-primary" [disabled]="setPasswordForm.invalid">
                  Set New Password
                </button>
              </div>
            </form>
            <div class="row custom-new-password-msg" *ngIf="hasPasswordset" [@fadeInOut]>
              New password has been successfully set.<br />
              <span>Redirecting to Login page in 2 sec...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 custom-login-bg-image"></div>
  </div>
</div>