.container {
  display: flex;
  justify-content: space-around;
}

.menu1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.text {
  padding: 20px 0px;
}

.component-wrapper {
  background-color: #808080;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
